.eatbutton{
  position: absolute;
  padding: 30px 30px;
  margin-top: 250px;
  margin-left: 100px;
}

p1 {
  font-size: 1.3em;
  font-family: "Assistant";
  color: slategray;
  margin-top:400px;
  margin-left: 140px;
  position: absolute;
}

.food {
  position: absolute;
  margin-top: 100px;
  margin-left: 600px;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

h3 {
  font-family: "Assistant";
  font-size:1.4em;
  font-color: black;
}
  
