html{
  background-color: #FFFAC4;
  font-family: "Assistant";
}


.outsidecol{
display: inline-block;
position: relative;
text-align: center;
}
.insidecol{
display:block;
position: relative;
padding:1px 88px;
text-align: center;
}


p1{
  font-size: 2em;
  letter-spacing: 1.3px;
}

p2{
  font-size: 1.5em;
  letter-spacing: 1.3px;
}

.orderbutton {
  background-color: white;
  color: black;
  font-family: "Assistant", sans-serif;
  font-size: 1.4em;
  margin-top: 30px; 
}
