html{
  background-color: #FFFAC4;
  font-family: "Assistant", sans-serif;
}

.col{
display: inline-block;
position: relative;
padding:30px 30px;
margin-left: 180px;
text-align: center;
}

.col img{
width:128px;
height:128px;

}



p1{
  font-size: 2.5em;
  letter-spacing: 1.3px;
}

p2{
  font-size: 2em;
  letter-spacing: 1.1px;
}

#counterfries{
  display: inline-block;
  width:5px;
}

#counternuggets{
  display: inline-block;
  width:5px;
}

#countersalad{
  display: inline-block;
  width:5px;
}

#friesbutton{
  border: solid white 5px;
}

#saladbutton{
  border: solid white 5px;
}

#nuggetsbutton{
  border: solid white 5px;
}

#soupbutton{
  border: solid white 5px;
}
#piebutton{
  border: solid white 5px;
}
#parfaitbutton{
  border: solid white 5px;
}
